
*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  font-style: oblique;
 
}
h1
{
  color: navy;
}

 .signup
{
  float:right;
  text-align: center;
  /* margin-left: 25em; */
  width: 500px;
} 



.signup #signupbtn
{width:40%;
 height: 1.8em;
 color:white;
 background-color: dodgerblue;
 border: 1px solid dodgerblue;
align-content: center;


}  
.signup label
{
  width:50%;
  box-align: center;
}
footer{
  background-color: black;
  color:white;
  height:3em;
  margin-top: 29%;
  text-align: center;
}