*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
  /* Created with https://www.css-gradient.com */
background: #EBF566;
background: -webkit-linear-gradient(bottom, #EBF566, #9CFB80);
background: -moz-linear-gradient(bottom, #EBF566, #9CFB80);
background: linear-gradient(to top, #EBF566, #9CFB80);
   /* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
/* background: #EBF566;
background: -webkit-linear-gradient(bottom, #EBF566, #134804);
background: -moz-linear-gradient(bottom, #EBF566, #134804);
background: linear-gradient(to top, #EBF566, #134804); */
/* Created with https://www.css-gradient.com */

}
h1{
    text-align: center;
    
    color:navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
p{
    text-align:justify;
    color:darkgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
} 

footer{
    background-color: black;
    color:white;
    height:5em;
    margin-top: 29%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    font-style: oblique;
}
/* .tm-row
{margin-top:10px;} */
/* .carousel-inner
{
    height: 38em;
 
} */

.card-img-top
{
    height: 10em;
    /* max-width: fit-content; */
    width:210px;
    border-radius: 16px;
}
#map
{
 height: 29em;
 width:22em;
 border-radius: 16px;
}
.card
{
    /* margin-left: 2px; */
    background-color: ivory; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-style: oblique;
    text-align: justify;
    color:navy;
    border-radius: 16px;
}
h2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  font-style: oblique;
  
 
  color:navy;
 text-align: center;

}


/* .col-lg-12
{
   
    text-align: center;
}

.col-lg-12 a
{
    margin-left:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  

  color: white;
} */

.row i
{
    margin-left: 5px;
}

.col-lg-5
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-style: oblique;  
}
.col-lg-5 a
{
    text-decoration: none; 
}
h4
{
    color:navy;
  
}
h3
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-style: oblique;
    color: navy;
}
.carousel-item img{
    border-radius: 16px;
    height: 500px;
}
.col-lg-3 {
    margin-left: 50px;
}
.col-lg-2{
    margin-left: 50px;
}
.col-lg-8{
    margin-left: 10px;
}
h5{
    text-align: center;
}



