*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    background: #C9CF73;
    background: -webkit-linear-gradient(bottom, #C9CF73, #C2F4B4);
    background: -moz-linear-gradient(bottom, #C9CF73, #C2F4B4);
    background: linear-gradient(to top, #C9CF73, #C2F4B4);
    /* background: #EBF566;
    background: -webkit-linear-gradient(bottom, #EBF566, #9CFB80);
    background: -moz-linear-gradient(bottom, #EBF566, #9CFB80);
    background: linear-gradient(to top, #EBF566, #9CFB80); */

}
h1{
    text-align: center;
    color:navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
p{
    text-align:justify;
    color:darkgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
} 
footer{
    background-color: black;
    color:white;
    height:5em;
    margin-top: 29%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    font-style: oblique;
}
.card-img-top
{
    height: 10em;
    width:210px;
    border-radius: 16px;
}
#map
{
    height: 29em;
    width:22em;
    border-radius: 16px;
}
.card
{
    background-color: ivory; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-style: oblique;
    text-align: justify;
    color:navy;
    border-radius: 16px;
}
h2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-style: oblique;
    color:navy;
    text-align: center;
}

.col-lg-3
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-style: oblique;  
}
.col-lg-3 a
{
    text-decoration: none; 
}
h4
{
    color:navy;
}
h3
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-style: oblique;
    color: navy;
}
.carousel-item img
{
    border-radius: 16px;
    height: 500px;
}

h5{
    text-align: center;
}
.carousel-inner
{
    margin-top: 80px;
}
.tm-content
{
    margin-top: 100px;  
}


